.intro {
}

@media screen and (min-width: 800px) {
  .intro {
    display: flex;
    width: 100%;
  }
}

.intro__description {
  width: 50%;
  text-align: center;
  padding: 0.5rem;
  font-size: 2.5rem;
  text-align: left;
}

.intro__image {
  max-width: 100%;
}

.ingredients {
  font-size: 0.9rem;
  padding: 1rem;
  margin: 0 0 0.5rem 1rem;
  border-radius: 3px;
  background-color: #d9d7f1;
  border: 2px solid #ffcbcb;
}

.ingredients__title {
  margin: 0;
}
