.page {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(163, 175, 243, 1) 0%,
    rgba(220, 182, 232, 1) 100.2%
  );
}

.page__title {
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}

.page__image {
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.cards__title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}

.card__container {
}

.card__inner-container {
  display: flex;
  flex-wrap: wrap;
}

.card__left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.card__right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.card__item {
}

.card__button {
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 15px;
  width: 30vw;
  text-align: center;
}

.card__button_link {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}

.card__button_itzy {
  background-color: #f14ebd;
}

.card__button_exo {
  background-color: #9a4ef1;
}

.card__button_skz {
  background-color: #f14e4e;
}

.card__button:hover {
  border-color: rgba(255, 255, 255, 1);
}

.card__logo_itzy {
  width: 40%;
  height: auto;
}

.card__logo_exo {
  width: auto;
  height: 20%;
}

.card__logo_skz {
  width: 40%;
  height: auto;
}

.card__image {
  width: 70%;
  height: auto;
}

.card__food_itzy {
  width: 70%;
  height: auto;
}

.card__food_exo {
  width: auto;
  height: 40%;
}

.card__food_skz {
  width: auto;
  height: 25%;
}

.bg__itzy {
  background-image: linear-gradient(
    83.2deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
}

.bg__exo {
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
}

.bg__skz {
  background-image: linear-gradient(
    109.6deg,
    rgba(14, 11, 56, 1) 11.2%,
    rgba(239, 37, 37, 1) 91.1%
  );
}

.recipe__title {
  font-size: 30px;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
